html{
  scroll-behavior: smooth;
}
body{
  background-color: #fffaeb;
}
h1{
  font-size: 60px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-shadow: 3pt 3pt 0pt rgb(224, 165, 0);
}
h6{
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

.underline{
  height:10px;
}

.list-item{
  list-style-type: none;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 0px rgb(172, 117, 0);
  background-color: #f3e9d2ff;
  color: rgb(17, 10, 0);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}

#about{
  font-size: 15pt;
}
#portrait{
  max-width: 100%;
  height: auto;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#nav{
  overflow: hidden;
  background-color: transparent;
  padding: 40px 10px; /* Large padding which will shrink on scroll (using JS) */
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index: 99; 
}

#title{
  font-size: 80px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-shadow: 3pt 3pt 0pt rgb(224, 165, 0);
}

